# General
.DS_Store
.AppleDouble
.LSOverride

# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

# User-specific files
.Ruserdata

# Session Data files
*.RData
*.RDS

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# Other folders
library/
local/
cellar/
lock/
python/
staging/
docs/
